html {
    background-color: #feecf0
}
body {
    height: 100vh;
    width: 100%;
}

#search-input {
    height: 60px;
}
.card-weatherMain {
    background-color: rgb(66, 192, 192);
    color: rgb(255, 250, 250);  
    font-size:20px;
    font-weight: bold;
}
.weather-container {
    flex: 1 1 100%;
    border: none;
    justify-content: space-between;
    min-height: 250px;
}
/* .forecast {
    display: flex;
    flex-direction: column;
} */
.sun-icon{
    width: 15%;
    margin: 0 auto;
    display: block;
    animation: rotate 10s 0s linear infinite;
    fill: hsl(44, 100%, 60%);
    transition: all .4s;
}   
    .ray,
    .circle{
      stroke: hsl(44, 100%, 60%);
      transition: all .4s;
    }
#footer {
        position: fixed; 
        bottom: 0; 
        left: 0; 
        right: 0;
        height: 100px;
        padding: 3rem 1.5rem 2rem
}
    
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg); 
    }
    
    50%{
      transform: rotate(180deg); 
    }
    
    100% { 
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    }
}
